<ifmodule mod_rewrite.c>
RewriteEngine On

RewriteRule ^g/([0-9]+)$  api/g/?id=$1
RewriteRule ^g  api/g/

RewriteRule ^home/([0-9]+)$  api/home/?page=$1
RewriteRule ^home  api/home/

RewriteRule ^analysis  api/analysis/

</ifmodule>